//custom style
@darenColor: #243338;
@lightenColor: #628a8c;

#az-login-background {
  background: radial-gradient(circle, @lightenColor, @darenColor);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.az-login {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 120;
}