//custom style
@darenColor: #243338;
@lightenColor: #628a8c;
@footerBgColor: #e0e5e7;

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#az-login-background {
  .az-gradient-background;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.az-confirm {
  float: right;
  width: 300px !important;
}

.az-login {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 120;
}

div[role="banner"] {
  min-height: 350px;
  color: white;
  padding-top: 10px;
  img{
    &:first-child {
      float: left;
      margin-right: 10px;
    }
  }
  #az-user-info {
    cursor: pointer;
  }
  .az-logo-header {
    background: url('../img/logo-white.png') no-repeat center center;
    background-size: auto 100%;
    width: 100%;
    min-height: 100px;
  }
  p {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 50px;
  }
}

#body {

}

footer[role="contentinfo"] {
  position: absolute;
  bottom: 0;
  width: 100%;
  .az-footer-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40%;
    color: darken(@footerBgColor, 30%);
    text-align: right;
  }
}

.az-gradient-background {
  background: radial-gradient(circle, @lightenColor, @darenColor);
}

.az-logo-box {
  position: relative;
  margin-top: -5%;
  width: 50%;
  padding: 20%;
  border-radius: 50%;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#az-header {
  margin-top: 20%;
  background: white;
  min-height: 1000px;
  height: auto;
  border-radius: 1%;
}
