<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<!--Login content-->
<div id="az-login-background" class="az-must-hidden valign-wrapper">
    <div id="az-login" class="container az-login valign-wrapper">

        <div class="container blue-grey-text text-lighten-1">
            <div class="row"><!-- aplication logo -->
                <div class="col s4 m2 l1 offset-s4 offset-m5 offset-l5">
                    <img src="images/logo-white.png" width="100" alt="Git Finder">
                </div>
            </div>
            <div class="row"><!-- login form -->
                <form class="col s10 m6 l6 offset-s1 offset-m3 offset-l3">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="login" type="text" class="validate">
                            <label for="login">Login</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <a class="col s12 m12 l12 waves-effect waves-light btn-large blue-grey lighten-1 blue-grey-text text-darken-2 az-login-action">LOGIN</a>
                    </div>
                    <div class="row">
                        <p style="float:left">
                            <input type="checkbox" id="az-remember-session"/>
                            <label for="az-remember-session">REMEMBER ME</label>
                        </p>
                        <p style="float:right">
                            <label for="">FORGOT PASS</label>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--END Login content-->

<!-- Navigation-->
<nav class="az-gradient-background">
    <div class="nav-wrapper" id="az-nav-ul">
        <a><img src="images/logo-nav.png" height="60" alt="logo" style="padding: 10px"></a>
        <script id="az-nav" type="text/template">
            <a class="dropdown-button" href="#!" data-activates="lang">
                <%= name %>
                <i class="material-icons right">
                    <%= iconClass %>
                </i>
            </a>
        </script>
    </div>
</nav>
<ul id="lang" class="dropdown-content">
    <li><a href="#!">English</a></li>
    <li><a href="#!">Polski</a></li>
</ul>
<!-- END Navigation-->
<!-- Header -->
<div id="az-header" class="container z-depth-2">
    <div class="row">
        <div class="col m10 s10 l10 offset-s1 offset-m1 offset-l1">
            <h4>Find user repository</h4>
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>
