<!--Login content-->
<div id="az-login-background" class="az-must-hidden valign-wrapper">
    <div id="az-login" class="container az-login valign-wrapper">


    </div>
</div>
<!--END Login content-->

<!-- Navigation-->
<nav class="az-gradient-background">
    <div class="nav-wrapper" id="az-nav-ul">
        <a><img src="../img/logo-nav.png" height="60" alt="logo" style="padding: 10px"></a>
        <!-- NavigationItems -->
        <!-- END NavigationItems -->
    </div>
</nav>
<ul id="lang" class="dropdown-content">
    <li><a href="#!">English</a></li>
    <li><a href="#!">Polski</a></li>
</ul>
<!-- END Navigation-->
<!-- Header -->
<div id="az-header" class="container z-depth-2">
    <div class="row">
        <div class="col m10 s10 l10 offset-s1 offset-m1 offset-l1">
            <h4 class="text-blue-grey darken-4-text">Find user repository</h4>
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field blue-grey darken-4">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <!-- Result Search-->
    <div class="row">
        <div class="col m10 s10 l10 offset-s1 offset-m1 offset-l1">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="./../img/logo.png" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">play_arrow</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
    </div>
</div>