<script type="text/template">
    <div class="row"><!-- aplication logo -->
        <div class="col s4 m2 l1 offset-s4 offset-m5 offset-l5">
            <img src="./../img/logo-white.png" width="100" alt="Git Finder">
        </div>
    </div>
    <div class="row"><!-- login form -->
        <form class="col s10 m6 l6 offset-s1 offset-m3 offset-l3">
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" type="text" class="validate az-keyup" value="<%= username %>">
                    <label for="login">Login</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate az-keyup">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <a class="col s12 m12 l12 waves-effect waves-light btn-large blue-grey lighten-1 blue-grey-text text-darken-2 az-login-action">LOGIN</a>
            </div>
            <div class="row">
                <p style="float:left">
                    <input type="checkbox" id="az-remember-session"/>
                    <label for="az-remember-session">REMEMBER ME</label>
                </p>
                <p style="float:right">
                    <label>FORGOT PASS</label>
                </p>
            </div>

        </form>
    </div>
</script>